<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metascrape Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Metacritic Dashboard</h1>
                <p>explore 20 years of Metacritc aggragate data for album reviews</p>
            </div>
        </div>
    </div>
    <!-- Filter -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="filters">
                    <form class="bg-light">
                        <p class="border rounded-top mb-0">Search</p>
                        <ul class="list-group">
                            <li class="list-group-item bg-light">
                                <label for="date">By Date</label>
                                <input type="integer" class="form-control" id="date" placeholder="2002" />
                            </li>
                            <li class="list-group-item bg-light">
                                <label for="artist">by Artist</label>
                                <input type="text" id="artist" class="form-control" placeholder="Beck" />
                            </li>
                            <li class="list-group-item bg-light">
                                <label for="album_genre">by Genre</label>
                                <input type="text" id="album_genre" class="form-control" placeholder="rock" />
                            </li>
                            <li class="list-group-item bg-light">
                                <label for="label">by Record Label</label>
                                <input type="text" id="record_label" class="form-control" placeholder="Geffen" />
                            </li>
                            <li class="list-group-item bg-light">
                                <label for="meta_score">by Minimum Critic Scores</label>
                                <input type="text" id="meta_score" class="form-control" placeholder="circle" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>

            <div class="col-md-8" id="my_dataviz_bar">

            </div>
            <div class="col-md-2">
                <div class="card bg-light" style="width: 9rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <div class="card-body">
                            <hr>
                            <div>
                                <h6>90</h6>
                                <h4>Value</h4>
                                <hr>
                            </div>
                            <div>
                                <h6>80</h6>
                                <h4>Value</h4>
                                <hr>
                            </div>
                            <div>
                                <h6>70</h6>
                                <h4>Value</h4>
                                <hr>
                            </div>
                            <div>
                                <h6>60</h6>
                                <h4>Value</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table id="meta_table" class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Album</th>
                        <th>Artist</th>
                        <th>Genre</th>
                        <th>Label</th>
                        <th>MetaScore</th>
                    </tr>
                </thead>
                <tbody id="tbody" class="overflow-auto"></tbody>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- <script src="static/js/data.js"></script> -->
    <script src="static/js/stacked.js"></script>
</body>