<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metascrape Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- <link rel="stylesheet" href="static/css/style.css" /> -->


    <script src="../static/app.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Metacritic Dashboard</h1>
                <p>explore 20 years of Metacritc aggragate data for album reviews</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <figure class="highcharts-figure col-md-12">
                <div id="pointyChart"></div>

            </figure>
        </div>
        <div class="container-fluid">
            <div class="row">
                <figure class="highcharts-figure col-md-6">
                    <div id="scatterMeta"></div>
                </figure>

                <figure class="highcharts-figure col-md-6">
                    <div id="scatterUser"></div>
                </figure>
            </div>
        </div>

         <!-- Filter -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="filters">
              <form class="bg-light">
                <p>Search</p>
                <ul class="list-group">
                  <li class="list-group-item bg-light">
                    <label for="years">By Date</label>
                    <input type="years" placeholder="2002" id="years" />
                  </li>
                  <li class="list-group-item bg-light">
                    <label for="artists">by Artist</label>
                    <input type="text" id="artists" class="form-control" placeholder="Beck" />
                  </li>
                  <li class="list-group-item bg-light">
                    <label for="albumGenres">by Genre</label>
                    <input type="text" id="albumGenres" class="form-control" placeholder="rock" />
                  </li>
                  <li class="list-group-item bg-light">
                    <label for="labels">by Record Label</label>
                    <input type="text" id="labels" class="form-control" placeholder="Geffen" />
                  </li>
                  <li class="list-group-item bg-light">
                    <label for="metaScores">by Critic Scores</label>
                    <input type="text" id="metaScores" class="form-control" placeholder="circle" />
                  </li>
                </ul>
              </form>
            </div>
          </div>

          <!-- Table -->
          <div class="col-md-9">
            <table id="meta_table" class="table table-striped">
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Album</th>
                  <th>Artist</th>
                  <th>Genre</th>
                  <th>Label</th>
                  <th>MetaScore</th>
                </tr>
              </thead>
              <tbody id="tbody"></tbody>
            </table>
          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
      <script src="static/js/data.js"></script>
      <script src="static/js/app.js"></script>
</body>